.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}


.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1.5rem;


    background: linear-gradient(45deg,transparent,rgb(236, 44, 44),transparent);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    display: grid;
    place-items: center;
}

.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(0deg);
    transition: var(--transition);

}

.about_me-image:hover {
    
    transform: scale(1.05);
}

about_cards {
    display: grid;
    grid-template-columns: repeat(3);
    gap: 100rem;

}

.about_card {
    background: linear-gradient(15deg,transparent,rgb(236, 41, 41),transparent);
    border: 8px solid transparent;
    border-radius: 3rem;
    padding: 0.2rem;
    text-align: center;
}

.about_card:hover {
    background: transparent;
    border-color: aliceblue;
    cursor: default;
    transition: var(--transition);

}

.about_icon {
    color: aquamarine;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about_card h5 {
    font-size: 0.95rem;
}

.about_card small {
    font-size: 0.7rem;
    color: aquamarine;
}

.about_content p {
    margin: 2rem 0 2.6rem;
    color: beige;
}

/* ========== Media Queries (Medium Devices) =============*/
@media screen and (max-width:1024px) {

    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;

    }

 }

 /* ========== Media Queries (Small Devices) =============*/
@media screen and (max-width:600px) {
    .about_me {

    width: 65%;
    margin: 0 auto 3rem;
    }

    .about_card {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about_content p {
        margin: 1.5rem 0;
    }


}
