.container.contact_container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact_option {
    background: linear-gradient(transparent,black,transparent);
    padding: 1rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid red;
    transition: var(--transition);
}

.contact_option:hover {
    background: transparent;
    border-color: rgb(255, 1, 1);
}

.contact_option-icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact_option a {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.5rem;

}

/* ==================== Form =================== */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 1.5rem;
    background: black;
    border: 2px solid red;
    resize: none;
    color: wheat;

}


/* ========== Media Queries (Medium Devices) =============*/
@media screen and (max-width:1024px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
}


/* ========== Media Queries (Small Devices) =============*/
@media screen and (max-width:600px) {
    .container.contact_container {
        width: var(--container-width-sm);
    }
}