header {

    height: 100vh;
    padding-top: 5rem;
    overflow: hidden;
}

.container\.header_container {

    text-align: center;
    height: 100px;
    position: relative;

}

/* =================== CTA =================== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* =================== Header Socials =================== */

.header_socials {
    margin-bottom: -600px;
    display: flex;
    background: linear-gradient(15deg,transparent,rgb(252, 6, 6),transparent);
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 4rem;
    bottom: 0rem;
}
.header_socials a {

    width: 50px;  
}
svg{
    width: 30px;
    height: 30px;
}

.header_socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* =================== Me =================== */

.me {
    /* background: linear-gradient( var(--color-primary), transparent); */
    /* background-color: transparent , wheat, transparent; */
    background: linear-gradient(10deg,transparent,rgb(181, 188, 228),transparent);
    width: 35rem;
    height: 28rem;
    position: absolute;
    left: calc(45% - 11rem);
   
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 4.65rem 0rem 0rem 0rem;

}

/* =================== Scroll Down =================== */

.scroll_down {
    margin-bottom: -550px;
    position: absolute;
    background: linear-gradient(15deg,transparent,rgb(241, 3, 3),transparent);
    right: 3rem;
    bottom: 0rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.8rem;
}


/* ========== Media Queries (Medium Devices) =============*/
@media screen and (max-width:1024px) {
   
       header {
        height: 68vh;
    
    }
}

    /* ========== Media Queries (Small Devices) =============*/
@media screen and (max-width:600px) {
   header {
    height: 100vh;
   
   }

   .header_socials,
   .scroll_down{
    display: none;
   }
}
